//colors
$black: #000;
$white: #fff;
$white70: rgba($white, 0.7);
$white30: rgba($white, 0.3);
//$gray-light: #F6F6F6;
$gray-light: #E8E8E8;
$gray: #CFD0D1;
$gray-dark: #212121;
$gray-dark80: rgba($gray-dark, 0.8);
$gray-dark60: rgba($gray-dark, 0.6); //#7a7a7a
$gray-dark30: rgba($gray-dark, 0.3); //#bcbcbc
$gray-dark07: rgba($gray-dark, 0.07); //#bcbcbc
$green: #00FF00;
$red:#FF0000;
