@import 'vars';
@import 'header';
@import 'form';


* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding:0;
}

body {
  max-width: 1092px;
  margin: 0 auto;
  width: 90%;
  background-color: $gray-light;
}
